* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #fffaf4;
    color: #333;
}

/* Header */
header {
    display: flex;
    height: 90px;
    justify-content: space-between;
    align-items: center;
    background-color: #fffaf4;
    padding: 10px 40px;
    border-bottom: 1px solid #ddd;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    margin-right: 10px;
}

.logo h1 {
    color: #01600F;
    font-size: 22px;
}

.logo-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

nav ul li a {
    color: #01600F;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.search-form {
    display: flex;
    align-items: center;
    gap: 5px;
}

.search-form input[type="text"] {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s;
    font-family: 'Segoe UI', sans-serif;
}

.search-form input[type="text"]:focus {
    border-color: #82A97A;
}

.search-form button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
}

.search-icon-img {
    width: 20px;
    height: 20px;
}

.search-icon {
    font-size: 18px;
}

/* Hero */
.hero {
    background: url("../imagens/inicio.jpg") center/cover no-repeat;
    height: 500px;
    display: flex;
    align-items: center;
    padding-left: 60px;
    color: white;
    background-color: rgba(0,0,0,0.4);
}

.hero-content {
    max-width: 600px;
}

.hero h2 {
    font-size: 36px;
    line-height: 1.3;
}

.hero p {
    margin-top: 15px;
    font-size: 16px;
}

/* Acesso Rápido */
.acesso-rapido {
    background-color: #01600F;
    padding: 40px 20px;
    text-align: center;
    color: white;
}

.acesso-rapido h3 {
    margin-bottom: 20px;
    font-size: 24px;
}

.botoes {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.btn-acesso-rapido {
    background-color: #f9f8f4;
    color: #01600F;
    padding: 12px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background-color 0.3s;
}

.btn-acesso-rapido:hover {
    background-color: #e5e5e5;
}

/* Notícias */
.noticias {
    padding: 80px 40px;
    text-align: center;
    background-color: #82A97A;
}

.noticias h3 {
    color: white;
    font-size: 35px;
}

  /* Conteúdo principal */
  .conteudo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    gap: 40px;
    flex-wrap: wrap;
    font-size: 20px;
  }
  
  /* Notícia principal */
  .noticia-principal {
    flex: 1 1 150px;
    text-align: center;
  }
  
  .noticia-principal img {
    width: 100%;
    max-width: 550px;
    border: 2px solid #82A97A;
  }
  
  .noticia-principal p {
    margin: 15px 0;
    margin-bottom: 5px;
  }

  /* Notícias laterais */
  .noticias-laterais {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1 1 300px;
  }
  
  .noticia-lateral {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
    gap: 15px;
  }
  
  .noticia-lateral img {
    width: 400px;
    max-width: none;
    border: 2px solid #82A97A;
  }

  .noticia-lateral-conteudo {
    display: flex;
    padding: 50px;
    font-size: 21px;
    flex-direction: column; 
    align-items: left;
    justify-content: space-between;
  }
  
  .noticia-lateral p {
    margin: 0;
    flex: 1;
  }

  .btn-noticia {
    display: inline-block;
    margin-top: 20px;
    width: 195px;
    height: 40px;
    padding: 10px 24px;
    background-color: #82A97A;
    color: #315D38;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
  }

.btn-noticia:hover {
    background-color: #779c78;
  }

/*O que é reciclagem*/
.container-reciclagem {
    display: flex;
    align-items: center;
    background-color: #82A97A;
    justify-content: space-between;
    padding: 50px 5%;
    gap: 40px;
    flex-wrap: wrap;
}

.imagens {
    flex: 1 1 550px;
    max-width: 650px;
    padding: 20px;
}

.imagens img {
    width: 100%;
    height: auto;
}

.texto h1 {
    font-size: 36px;
    margin-bottom: 15px;
}

.texto {
    flex: 1;
    font-size: 1.1em;
    color: #fffaf4;
    line-height: 1.6;
    padding: 20px;
    border-radius: 10px;
}

footer {
    background-color: #1b5e20;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}

/*Dicas de Reciclagem*/
.container-dicas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 5%;
    gap: 40px;
    flex-wrap: wrap;
}

.texto-dicas h1 {
    font-size: 36px;
    margin-bottom: 15px;
}

.texto-dicas {
    flex: 1;
    font-size: 1.1em;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    border-radius: 10px;
}

/* Seção Missão */
.missao {
    padding: 45px 25px;
    text-align: center;
    background-color: #82A97A;
}

.missao h2 {
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
}

.missao p {
    max-width: 900px;
    margin: 0 auto;
    color: white;
    font-size: 18px;
    line-height: 1.6;
    font-weight: bold;
}

.sobre {
    background: url('../imagens/sobre-nos.jpg') center/cover no-repeat;
    height: 500px;
    display: flex;
    align-items: center;
    padding-left: 60px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}

.sobre-conteudo h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

.sobre-conteudo p {
    font-size: 16px;
    max-width: 450px;
}

/* Responsivo */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }
    nav ul {
        flex-direction: column;
        gap: 10px;
    }
    .sobre {
        padding: 20px;
        text-align: center;
        justify-content: center;
    }
    .sobre-conteudo h2 {
        font-size: 28px;
    }
}

/*Quem Somos*/ 

.container-qmsomos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
  }

.image-section {
    flex: 1 1 550px;
    max-width: 650px;
    padding: 20px;
  }

.image-section img {
    width: 100%;
    height: auto;
  }

.text-section {
    flex: 1 1 400px;
    max-width: 500px;
    padding: 20px;
  }

.text-section h2 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 50px;
  }

.text-section p {
    font-size: 21px;
    line-height: 1.6;
    color: #333;
  }
  
.btn-container {
    display: inline-block;
    margin-top: 50px;
    width: 215px;
    height: 59px;
    padding: 12px 24px;
    background-color: #82A97A;
    color: #315D38;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
  }

.btn-container:hover {
    background-color: #779c78;
  }